{{#if (eq food.storage "freezer")}}
  {{#unless isEditable}}
    {{#unless isDispose}}
      <h4>Storage: {{food.storage}}</h4>
      <p> Disposed by {{food.disposal}} </p>
      <p>name: {{food.name}}</p>
      <p>description: {{food.description}}</p>
      {{#if food.expirationDate}}<p>expiration date: {{formatDate food.expirationDate}}</p>{{/if}}
      <button {{action 'editClick'}}>EDIT</button>
      <button {{action 'destroyFood'}}>DELETE</button>
      <button {{action 'disposeClick'}}>DISPOSE</button>
      <br>
      <br>
    {{else}}
      <h3>Name: {{food.name}}</h3>
      <h4>How did you dispose of your food: (ate, trash, donate) ?</h4>
      {{input placeholder='Disposal' value=food.disposal}}
      <br>
      <button {{action 'disposeClick'}}>Cancel</button>
      <button {{action 'updateFood'}}>Send to Disposal</button>
      <br>
      {{/unless}}
      {{else}}
      <h5> Storage </h5>
      <select name="storage" {{action "selectValue" on="change"}}>
          <option value="storage" value=freezer>freezer</option>
          <option class="storage" value=fridge>fridge</option>
          <option class="storage" value=pantry>pantry</option>
      </select>
        <p>name: {{input value=food.name}}</p>
        <p>description: {{input value=food.description}}</p>
        <p>expiration date: {{input value=food.expirationDate}}</p>
        <button {{action 'editClick'}}>Cancel</button>
        <button {{action 'updateFood'}}>Update my food!</button>
        <br>
  {{/unless}}
{{/if}}
