{{#if (eq food.storage "fridge")}}
  {{#unless isEditable}}
    {{#unless isDispose}}
      <h4>Name: {{food.name}}</h4>
      <p>description: {{food.description}}</p>
      {{#if food.expirationDate}}<p>expiration date: {{formatDate food.expirationDate}}</p>{{/if}}
      <button {{action 'editClick'}}>EDIT</button>
      <button {{action 'destroyFood'}}>DELETE</button>
      <button {{action 'disposeClick'}}>DISPOSE</button>
      <br>
      <hr>
      <br>
    {{else}}
      <h5>Name: {{food.name}}</h5>
      <h5>Description: {{food.description}}</h5>
      <h5>How did you dispose of your food ?</h5>
      <select name="disposal">
          <option class="disposal" value="">Choose the disposal location</option>
          <option class="disposal" value=ate>Ate</option>
          <option class="disposal" value=trash>Trash</option>
          <option class="disposal" value=donate>Donate</option>
      </select>
      <br>
      <br>
      <button class="btn btn-primary btn-xs" {{action 'disposeClick'}}>Cancel</button>
      <button class="btn btn-primary btn-xs" {{action 'updateFood'}}>Send to Disposal</button>
      <br>
      <hr>
      {{/unless}}
      {{else}}
      <h5> Storage </h5>
      <select name="storage">
          <option class="storage" value=fridge>fridge</option>
          <option class="storage" value=freezer>freezer</option>
          <option class="storage" value=pantry>pantry</option>
      </select>
        <p>name: {{input value=food.name}}</p>
        <p>description: {{input value=food.description}}</p>
        <p>expiration date: {{input value=food.expirationDate}}</p>
        <br>
        <button class="btn btn-primary btn-xs" {{action 'editClick'}}>Cancel</button>
        <button class="btn btn-primary btn-xs" {{action 'updateFood'}}>Update my food!</button>
        <br>
        <hr>
  {{/unless}}
{{/if}}
