
<div>
  <h5> Storage </h5>
  <select name="storage" {{action "selectValue" on="change"}}>
      <option value="">Please choose storage</option>
      <option class="storage" value=freezer>freezer</option>
      <option class="storage" value=fridge>fridge</option>
      <option class="storage" value=pantry>pantry</option>
  </select>
  {{input placeholder='Disposal' value=form.disposal}}
  {{input placeholder='Name' value=form.name}}
  {{input placeholder='Description' value=form.description}}
  {{input placeholder='Expiration YYYY-MM-DD' value=form.purchasedDate}}
  {{input placeholder='Expiration YYYY-MM-DD' value=form.expirationDate}}
  {{input placeholder='Remind me YYYY-MM-DD' value=form.remindDate}}
</div>
<button {{action 'createFood'}}> Add a New Food </button>
<br>
<br
