<h5> Add Your Food </h5>
<div>
  {{input placeholder="fridge" value=form.storage}}
  {{input placeholder='Disposal' value=form.disposal}}
  {{input placeholder='Category' value=form.category}}
  {{input placeholder='Name' value=form.name}}
  {{input placeholder='Description' value=form.description}}
  {{date-picker date=form.purchasedDate valueFormat='YYYY-MM-DD' value=form.purchasedDate}}
  {{input placeholder='Expiration YYYY-MM-DD' value=form.expirationDate}}
  {{input placeholder='Remind me YYYY-MM-DD' value=form.remindDate}}
</div>
<button {{action 'createFood'}}> Add a New Food </button>
<br>
<br
